.principal-container {
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  min-height: 100vh;
  }

  .myIdeas-container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background-color: #ffffff;
  }

  .header-container{
    display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  }

  .title-container {
    font-size: 3rem;
    font-weight: bold;
    color: #0072BA;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
  }

  mat-icon {
    color: #0072BA;
  }

  .addIdea-button-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-right: 10px;
  }

  .idea-form-container {
    height: 100vh;
    padding: 10px;
    border: none;
  }

  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #0072BA;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
  }

  .underline {
    width: 100%;
    height: 4px;
    background-color: #0072BA;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: width 0.3s ease;
  }



  .container-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: auto;
  }

  .idea-card {
    padding: 1rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    border-radius: 8px;
    background-color: #fff;
    border: 3px solid transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
  }

  .idea-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-color: #0072BA;
  }

  .idea-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0072BA;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .idea-card-content {
    text-align: justify;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    /* Workaround for browsers that do not support webkit. max-height must be at least -webkit-line-clamp * line height */
    max-height: 10em;
}

  .idea-detail-button {
    width: auto;
    min-width: 80px;
    padding: 8px 16px;
    font-size: 14px;
    height: 40px;
  }

  .idea-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3ex;
    margin-top: 3ex;
  }

  button.mat-fab {
    background-color: white;
    color: black;
    border: 2px solid;
    border-radius: 50px;
    padding: 12px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .button-add {
    background-color: #0072BA;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    width: auto;
    height: 50px;
    mat-icon {
      color: white;
    }

  }

  .button-details {
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    width: auto;
    height: 40px;
  }

  .button-edit {
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    width: auto;
    height: 40px;
  }

  .button-delete {
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    width: auto;
    height: 40px;
  }

  .button-details:hover {
    background-color: rgba(0, 114, 186, 0.7);
    color: white;

    mat-icon {
      color: white
    }
  }

  .button-edit:hover {
    background-color: rgba(241, 115, 24, 0.901);
    color: white;

    mat-icon {
      color: white
    }
  }

  .button-delete:hover {
    background-color: rgba(230, 12, 12, 0.7);
    color: white;

    mat-icon {
      color: white
    }
  }

  button.mat-fab:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }