.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.navbar-left {
  flex: 1;
}

.site-logo {
  height: 80px;
  cursor: pointer;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 20px;
}

/* Greyscale and zoom effect on hover */
.profile-container:hover .profile-picture,
.profile-container.menu-open .profile-picture {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav-link {
  position: relative;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
  font-size: 1.2em;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0072BA;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #0072BA;
}

.nav-link:hover::after {
  width: 100%;
}

.active-link {
  color: #0072BA;
}

.active-link::after {
  width: 100%;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #e60000;
}

[hidden] {
  display: none !important;
}
