<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/UPMLogo.png" alt="Site Logo!" class="site-logo">
  </div>
  <div class="navbar-center">
    <a routerLink="/explorePage" class="nav-link" routerLinkActive="active-link">Explore</a>
    <a *ngIf="isStudent()" routerLink="/myIdeasPage" class="nav-link" routerLinkActive="active-link">My Ideas</a>
    <a *ngIf="isInvestor()" routerLink="/favorite-ideas-page" class="nav-link" routerLinkActive="active-link">Favorite Ideas</a>
    <a routerLink="/profile" class="nav-link" routerLinkActive="active-link">Profile</a>
  </div>
  <div class="navbar-right">
    <div 
      class="profile-container" 
      [matMenuTriggerFor]="profileMenu"
      (menuOpened)="onMenuOpened()" 
      (menuClosed)="onMenuClosed()"
    >
      <img [src]="accountPhoto" alt="Profile" class="profile-picture">
    </div>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</nav>
