.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-left {
    flex: 1;
  }
  
  .site-logo {
    height: 80px;
    cursor: pointer;
  }

  .navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .profile-picture {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    cursor: pointer; 
  }
  
  .navbar-center {
    flex: 2; 
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    width: 100%; 
  }
  
  .nav-link {
    position: relative; 
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s ease; 
    font-weight: bold; 
    font-size: 1.2em;
  }
  
  .nav-link::after {
    content: ""; /* Pseudoelemento vacío */
    position: absolute;
    bottom: -4px; /* Coloca la línea justo debajo del texto */
    left: 0;
    width: 0; /* Por defecto, la línea no es visible */
    height: 2px; /* Grosor de la línea */
    background-color: #0072BA; /* Color del subrayado */
    transition: width 0.3s ease; /* Animación del subrayado */
  }
  
  .nav-link:hover {
    color: #0072BA; /* Cambia el color del texto al hacer hover */
  }
  
  .nav-link:hover::after {
    width: 100%; /* Expande la línea para abarcar todo el enlace */
  }
  
  .active-link {
    color: #0072BA; /* Color del texto para el enlace activo */
  }
  
  .active-link::after {
    width: 100%; /* Mantén el subrayado para enlaces activos */
  }

  .logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .logout-button:hover {
    background-color: #e60000;
  }

  [hidden] {
    display: none !important;
  }