<div class="login-container">
  <form>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAcNhpwlZDtD1GF_KfgsiagVwzDuUZ3lMrZA&s" alt="Logo" class="login-logo" />
    <h2>Login</h2>
    <div class="form-group">
      <label for="username">Email</label>
      <input type="text" id="username" placeholder="Enter your Email" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password" required />
    </div>
    <button type="submit">Login</button>
    <div class="register-link">
      <p>Don't have an account? <a href="/register">Create a new account</a></p>
    </div>
  </form>
</div>
