<mat-dialog-content>
  <!-- Zona para subir archivo -->
  <div class="dropzone">
    <input type="file" #fileInput id="fileInput" (change)="onFileSelected($event)" [hidden]="!!file" accept="*/*" />
    <ng-container *ngIf="!file">
      <img src="assets/upload_file.png" alt="Upload" height="50px" width="50px" />
      <h3>Drag and drop file here</h3>
      <h3>or</h3>
      <label for="fileInput" class="browse-button">Browse for file</label>
    </ng-container>
  </div>

  <!-- Información del archivo seleccionado -->
  <div class="file-info" *ngIf="file">
    <div class="file-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 58 58">
        <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58" />
        <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14" />
      </svg>
    </div>
    <div class="info">
      <h4 class="name">{{ file.name }}</h4>
      <p class="size">{{ formatBytes(file.size) }}</p>
      <div class="progress-cont">
        <div class="progress" [style.width]="progress + '%'"></div>
      </div>
    </div>
    <button mat-button color="warn" (click)="deleteFile()">Delete</button>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>