/* Main container for form */
.idea-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  box-sizing: border-box;
}

/* Card styling for idea form */
.idea-card {
  width: 100%;
  max-width: 800px;
  height: auto;
  overflow-y: auto;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  border-color: black;
  border-width: 1px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.idea-card-title {
  margin-bottom: 0.2ex;
  margin-top: 0.3ex;
  color: #007bff;
}

.idea-card-footer {
  color: lightgray;
  display: flex;
  justify-content: flex-end;
}

.separator {
  border-top-color: lightgray;
}

.card {
  padding: 2ex;
}

.chipset {
  padding-bottom: 0.5ex;
}

.idea-card-content {
  padding: 1ex 1ex 1ex 0ex;
}

mat-card-title {
  font-size: 2rem;
  font-weight: 500;
}