<div class="login-container">
  <mat-card>
    <div class="logo-container">
      <img src="assets/UPMLogo.png" alt="Logo" class="logo" />
    </div>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <!-- Formulario de Login -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"/>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility($event)" [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
      </mat-form-field>

      <!-- Link para Contraseña olvidada -->
      <div class="forgot-pwd">
        <a href="/forgot-pwd" class="link-forgot-pwd">Forgot password?</a>
      </div>

      <!-- Botón de Login -->
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>

      <!-- Link para Registro -->
      <div class="register-link">
        <p>Don't have an account? <a href="/register">Create a new account</a></p>
      </div>
    </form>
  </mat-card>
</div>