.footer {
    position: fixed;
    text-align: center;
    vertical-align: auto;
    padding: 10px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    color: #0072BA;
  }